<h2>Show task</h2>

<ul>

  <li>
    <strong>Title:</strong>
    <%= @task.title %>
  </li>

  <li>
    <strong>Info:</strong>
    <%= @task.info %>
  </li>

  <li>
    <strong>StartTime:</strong>
    <%= @task.start_time %>
  </li>

  <li>
    <strong>EndTime:</strong>
    <%= @task.end_time %>
  </li>

</ul>

<%= link "Back", to: task_path(@conn, :index) %>