<h2>Show task</h2>

<ul>

  <li>
    <strong>Length:</strong>
    <%= @task.length %>
  </li>

  <li>
    <strong>Title:</strong>
    <%= @task.title %>
  </li>

  <li>
    <strong>Info:</strong>
    <%= @task.info %>
  </li>

  <li>
    <strong>Date:</strong>
    <%= @task.date %>
  </li>

</ul>

<%= link "Back", to: task_path(@conn, :index) %>
